"""
Development environment overrides
Inherits from ./defaults.py and adds dev-specific defaults
"""

from apps.settings.defaults import framework_validators

validators = [
    *framework_validators,  # Include framework-provided normalization validators
]

DEBUG = True
ALLOW_SHARED_RESOURCE_CUSTOM_ROLES = False

CSRF_TRUSTED_ORIGINS = [
    "http://localhost:8000",
    "http://127.0.0.1:8000",
    "https://{{project_name}}:8000",
]
"""CSRF settings to allow origins to make requests, NOTE: Only use in development!"""

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.dummy.DummyCache",
    }
}
"""Cache settings - use dummy cache for development to avoid caching issues"""

EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"
"""Email backend for development (console output)"""

LOGGING__loggers__django__level = "DEBUG"
LOGGING__loggers__{{project_name}}__level = "DEBUG"
LOGGING__loggers__ansible_base__level = "DEBUG"
LOGGING__loggers = {
    "dynaconf_merge": True,
    "apps.core.apps": {
        "handlers": [],
        "level": "CRITICAL",
        "propagate": False,
    },
    "django.template": {
        "handlers": [],
        "level": "CRITICAL",
        "propagate": False,
    },
}
